<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Indie Feed</title>
    <style>
      {% include "style.css" %}
    </style>
  </head>
  <body>
    <main>
      <ul>
        {% for feed in feeds %}
          <li>
            {% include "feed.njk" %}
          </li>
        {% endfor %}
      </ul>
    </main>
    <footer>
      <small>Proudly built with Indie Feed</small>
    </footer>
  </body>
</html>